boto==2.46.1
click==6.7
dj-database-url==0.4.1
Django==1.11.1
django-bootstrap3==8.2.3
flake8==3.3.0
flake8-docstrings==1.1.0
flake8-polyfill==1.0.1
Flask==0.12.1
greenlet==0.4.12
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
pbr==2.1.0
psycopg2==2.6.2
pycodestyle==2.3.1
pydocstyle==2.0.0
pyflakes==1.5.0
PySocks==1.6.7
pytz==2017.2
simplejson==3.10.0
six==1.10.0
snowballstemmer==1.2.1
twilio==6.3.dev0
virtualenv==15.1.0
Werkzeug==0.12.1
whitenoise==2.0.6
